@font-face {
  font-family: 'Jost';
  src: url('fonts/Jost-Regular.ttf') format('truetype');
}

* {
  font-family: 'Jost', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: 56rem;
  @media (max-width: 56rem) {
    margin: 0 1rem;
  }
}

button {
  background-color: #eee;
  border: 1px solid #eee;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

button.disabled {
  cursor: default;
  color: #a0a0a0;
}

input::placeholder {
  color: #000000 !important;
  opacity: 1 !important;
}

.dp__input:hover:not(.dp__input_focus) {
  border-color: transparent !important;
}

.dp__main.dp__theme_light {
  display: ruby;
  font-size: 0.9rem;
}

input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
  padding-left: 1.9rem;
  max-width: 140px;
  height: 2.1rem;
  font-family: 'Jost', sans-serif;
}

svg.dp__input_icon.dp__input_icons {
  color: black;
  padding-left: 0.5rem;
}

.dp__icon {
  fill: rgb(0 0 0) !important;
  padding-right: 1rem !important;
}